<!DOCTYPE html>
<html data-ng-app="angularDemo"> <!-- ng-app = name of main angular module -->
<head>
<title>Spring Boot with AngularJS</title>

</head>
<body>

	<!-- Define the controller to use -->
	<div class="container" data-ng-controller="CustomerController">

		<h3>Iterating with the ng-repeat Directive with data from controller</h3>
		Name: <br/>
		<input type="text" data-ng-model="name"/>
		<ul>
			<li data-ng-repeat="cust in customers | filter: name | orderBy: 'city'">{{cust.name | uppercase}} {{cust.city}}</li>
		</ul>
	</div>

	<a href="https://docs.angularjs.org/api/ng" target="_blank">AngularJS</a>

	<script type="text/javascript" src="/webjars/angularjs/1.3.8/angular.js"></script>
		
		<script type="text/javascript">

var myApp = angular.module('angularDemo',[/* dependencies */]);

function SimpleController($scope) {
	
  $scope.customers = [
      { name : "Fritz", city : "Saarbrücken" }
    , { name : "Paul", city : "Trier" }
    , { name : "Ralf", city : "Mainz" }
    , { name : "Tom", city : "Berlin" }
    ];
  
  $scope.name = "Paul";
};

myApp.controller("CustomerController", SimpleController); <!-- we use CustomerController in the html -->
</script>

<div>
		<a href="../index.html">back to index</a>
	</div>
</body>
</html>